.Content {
  color: var(--text-color);
  opacity: 0;
  transform: translateY(10px);
  //transition: all 1s ease-in-out;
  transition: opacity 1800ms cubic-bezier(0.4, 0, 0.2, 1) 1200ms;

  &--active {
    opacity: 1;
    transform: translateY(0);
  }

  .Garden3d {
    svg {
      position: relative;
      top: 0.125rem;
      height: 0.9375rem;
      width: auto;

      @include media('md-up') {
        position: initial;
        top: 0;
        height: auto;
      }
    }
  }

  .SanctuCompu {
    svg {
      position: relative;
      top: 0.2rem;

      @include media('md-up') {
        top: 0.1rem;
      }
    }
  }

  .XXIX {
    svg {
      position: relative;
      top: 0.2rem;

      @include media('md-up') {
        top: 0.0625rem;
      }
    }
  }

  .ManhattanHydraulics {
    svg {
      position: relative;
      top: 0.25rem;

      @include media('md-up') {
        top: 0.1rem;
      }
    }
  }

  .Contact {
    &__audio {
      svg {
        width: 1.375rem;
      }
    }
  }
}
