.HeroLogo {
  position: relative;
  color: color('blue');

  &__3d {
    position: absolute;
    left: 65%;
    top: 15%;
    width: 9vw;
    max-width: 200px;
    animation: rotate3d linear 4s infinite;
  }

  @keyframes rotate3d {
    0% {
      transform: perspective(300px) rotateX(0deg) rotateZ(0deg);
    }

    100% {
      transform: perspective(300px) rotateX(360deg) rotateZ(360deg);
    }
  }
}
