.ProductGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 6px;
  height: 100%;

  @include media('lg-up') {
    grid-template-columns: repeat(6, 1fr);
  }

  &__item {
    border: 1px solid #{var(--fill-color)};
    color: #{var(--text-color)};
    transition: $theme-transition;

    &:hover {
      background-color: #{var(--fill-color)};
      color: var(--hover-text-color);
    }
  }
}
