<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link data-fav="icon" rel="shortcut icon" type="image/x-icon" href="/assets/fav-good.ico" />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://fonts.sanctuary.computer/AtlasGrotesk/styles.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://fonts.sanctuary.computer/AtlasGrotesk/styles.css"
  />
  <link href="scss/index.scss" rel="stylesheet" />
  <title>
    Garden3d is the venture arm of NYC based studios XXIX, Sanctuary Computer, and Manhattan
    Hydraulics
  </title>
</head>
