<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link data-fav="icon" rel="shortcut icon" type="image/x-icon" href="/assets/fav-good.ico" />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://fonts.sanctuary.computer/AtlasGrotesk/styles.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://fonts.sanctuary.computer/AtlasGrotesk/styles.css"
  />
  <link href="scss/index.scss" rel="stylesheet" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MEF2Y2HBST"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-MEF2Y2HBST');
  </script>

  <title>
    Garden3d is the venture arm of NYC based studios XXIX, Sanctuary Computer, and Manhattan
    Hydraulics
  </title>

  <!-- Share: Facebook -->
  <meta property="og:title" content="Garden3d" />
  <meta
    property="og:description"
    content="Garden3d is the venture arm of NYC based studios XXIX, Sanctuary Computer, and Manhattan
  Hydraulics"
  />
  <meta property="og:url" content="https://www.garden3d.com" />
  <meta property="og:image" content="/assets/images/share-card.jpg" />

  <!-- Share: Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
</head>
