<div class="ProductGrid">
  <a
    class="ProductGrid__item text-glow--hover flex items-center justify-center py1 text-center"
    href="https://www.sanctuary.computer/"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-10">
      <include src="./components/logos/sanctu-compu.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item text-glow--hover flex items-center justify-center py1 text-center"
    href="https://www.xxix.co/"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-10">
      <include src="./components/logos/sanctu-compu.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item text-glow--hover flex items-center justify-center py1 text-center"
    href="/"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-10">
      <include src="./components/logos/sanctu-compu.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item text-glow--hover flex items-center justify-center py1 text-center"
    href="https://www.seaborne.nyc/"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-10">
      <include src="./components/logos/sanctu-compu.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item text-glow--hover flex items-center justify-center py1 text-center"
    href="https://www.thelightphone.com/"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-10">
      <include src="./components/logos/sanctu-compu.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item text-glow--hover flex items-center justify-center py1 text-center"
    href="https://www.brandibble.co/"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-10">
      <include src="./components/logos/sanctu-compu.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item text-glow--hover flex items-center justify-center py1 text-center"
    href="https://www.spirit.fish/"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-10">
      <include src="./components/logos/sanctu-compu.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item text-glow--hover flex items-center justify-center py1 text-center"
    href="/"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-10">
      <include src="./components/logos/sanctu-compu.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item text-glow--hover flex items-center justify-center py1 text-center"
    href="/"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-10">
      <include src="./components/logos/sanctu-compu.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item serif text-small text-glow--hover flex items-center justify-center py1 text-center"
    href="https://twitter.com/_HHFF"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-10"> Your company here </span>
  </a>
  <a
    class="ProductGrid__item serif text-small text-glow--hover flex items-center justify-center py1 text-center"
    href="https://twitter.com/_HHFF"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-10"> Your company here </span>
  </a>
  <a
    class="ProductGrid__item serif text-small text-glow--hover flex items-center justify-center py1 text-center"
    href="https://twitter.com/_HHFF"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-10"> Your company here </span>
  </a>
</div>
