<div class="ProductGrid">
  <a
    class="ProductGrid__item box-glow flex items-center justify-center py1 text-center"
    href="https://www.xxix.co/"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-5">
      <include src="./components/logos/xxix.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item sanctu box-glow flex items-center justify-center py1 text-center"
    href="https://www.sanctuary.computer/"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-5">
      <include src="./components/logos/sanctu-compu.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item box-glow flex items-center justify-center py1 text-center"
    href="https://hydraulics.nyc/"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-6">
      <include src="./components/logos/hydro.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item seaborne box-glow flex items-center justify-center py1 text-center"
    href="https://www.seaborne.nyc/"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-6">
      <include src="./components/logos/seaborne.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item index box-glow flex items-center justify-center py1 text-center"
    href="https://www.index-space.org/"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-4">
      <include src="./components/logos/index.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item light box-glow flex items-center justify-center py1 text-center"
    href="https://www.thelightphone.com/"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-4">
      <include src="./components/logos/light.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item box-glow flex items-center justify-center py1 text-center"
    href="https://www.opentender.io/"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-8">
      <include src="./components/logos/open-tender.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item box-glow flex items-center justify-center py1 text-center"
    href="https://www.spirit.fish/"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-8">
      <include src="./components/logos/spirit-fish.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item box-glow flex items-center justify-center py1 text-center"
    href="https://twitter.com/_HHFF"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-8">
      <include src="./components/logos/your-company.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item serif text-small box-glow flex items-center justify-center py1 text-center"
    href="https://twitter.com/_HHFF"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-8">
      <include src="./components/logos/your-company.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item serif text-small box-glow flex items-center justify-center py1 text-center"
    href="https://twitter.com/_HHFF"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-8">
      <include src="./components/logos/your-company.html"></include>
    </span>
  </a>
  <a
    class="ProductGrid__item serif text-small box-glow flex items-center justify-center py1 text-center"
    href="https://twitter.com/_HHFF"
    target="_blank"
    rel="noopener"
  >
    <span class="flex items-center justify-center col-8">
      <include src="./components/logos/your-company.html"></include>
    </span>
  </a>
</div>
