.shimmer--good {
  transition: $theme-transition;
  color: rgba(255, 255, 255, 0.1);
  background: gradient(
    linear,
    left top,
    right top,
    from(#1f35de),
    to(#1f35de),
    color-stop(0.5, #fff)
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1f35de),
    to(#1f35de),
    color-stop(0.5, #fff)
  );
  background: -moz-gradient(
    linear,
    left top,
    right top,
    from(#1f35de),
    to(#1f35de),
    color-stop(0.5, #fff)
  );
  background: gradient(
    linear,
    left top,
    right top,
    from(#1f35de),
    to(#1f35de),
    color-stop(0.5, #fff)
  );
  background-size: 100px 110%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  animation: shimmer 5s infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #{var(--text-color)};
  display: inline-block;
}

.shimmer--evil {
  transition: $theme-transition;
  color: rgba(255, 255, 255, 0.1);
  background: gradient(
    linear,
    left top,
    right top,
    from(#eddb35),
    to(#eddb35),
    color-stop(0.5, #000)
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#eddb35),
    to(#eddb35),
    color-stop(0.5, #000)
  );
  background: -moz-gradient(
    linear,
    left top,
    right top,
    from(#eddb35),
    to(#eddb35),
    color-stop(0.5, #000)
  );
  background: gradient(
    linear,
    left top,
    right top,
    from(#eddb35),
    to(#eddb35),
    color-stop(0.5, #000)
  );
  background-size: 100px 110%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  animation: shimmer 5s infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #{var(--text-color)};
  display: inline-block;
}

@keyframes shimmer {
  0% {
    background-position: -100% 0%;
  }
  80% {
    background-position: 150% 50%;
  }
  100% {
    background-position: 150% 50%;
  }
}
