@font-face {
  font-family: 'Austin';
  src: url('/fonts/Austin-MediumItalic.otf') format('opentype'),
    url('/fonts/Austin-MediumItalic.woff') format('woff'),
    url('/fonts/Austin-MediumItalic.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
