/**
  Small Hack:
  When the page loads, we want the backgorund color to remain white
  up until the DOM fades in. At which point, we update the --backround-color var
  to match the initial theme fill color

  this also requires us to manually update the --background-color var
  when the theme switches
*/
:root {
  --background-color: #{color('white')};
}

/** Good Theme */
[data-theme='good'] {
  --fill-color: #{color('blue')};
  --text-color: #{color('blue')};
  --hover-text-color: #{color('white')};
}

/** Evil Theme */
[data-theme='evil'] {
  --fill-color: #{color('yellow')};
  --text-color: #{color('yellow')};
  --hover-text-color: #{color('black')};
}

.text-glow {
  text-shadow: 0 0 5px var(--text-color);
}

.text-glow--hover {
  &:hover {
    text-shadow: 0 0 5px var(--hover-text-color);
  }
}
