/** Good Theme */
[data-theme='good'] {
  --fill-color: #{color('blue')};
  --text-color: #{color('blue')};
  --hover-text-color: #{color('white')};
}

/** Evil Theme */
[data-theme='evil'] {
  --fill-color: #{color('yellow')};
  --text-color: #{color('yellow')};
  --hover-text-color: #{color('black')};
}
