@import 'config';
@import '~@sanctucompu/basement/src/index';
@import 'variables', 'reset', 'typography', 'button', 'theme', 'animation';
@import 'components/hero', 'components/background', 'components/content', 'components/audio-icon',
  'components/product-grid';

html,
body {
  height: 100%;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}
